@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap");

@font-face
{
    font-family: "萝莉体";
    src: url("Res/Fonts/萝莉体.ttf");
}

@font-face
{
    font-family: "Cotyledon";
    src: url("Data/Fonts/Cotyledon-Regular.ttf");
}

#body
{
    margin: 0px;
    background-image: url("Res/Images/yande.re 292216 anmi anthropomorphization kimono megane_shoujo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
    
